.wishlis {
    width: 90%;
    padding-top: 5%;
    padding-bottom: 10px;
    margin: auto
}


#move {

    font-size: 20px;
    border: 1px solid black;
    float: right;
}

#wish {
    font-size: 30px;
    float: right;
    font-weight: bold;
    
}

h3 {
    text-align: center;
    color: black;
}

h4 {

    text-align: center;
    color: red;
}

#wish {
    font-size: 30px;
    float: left;

}

.product_list {
    display: inline-block;
    justify-content: center;
}

.js {
    padding: 80px;
}

.just {
    font-size: 30px;
    float: left;
}

.see-all {
    font-size: 30px;
    float: right;
    border: 1px solid black;
}

.product {
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    padding-top: 5px;
    border: 1px solid black;
    transition: transform 0.3s;
    width: 200px;
}

.product:hover {
    transform: scale(1.05);
}

.image {
    width: 90%;
    height: 30%;
    object-fit: contain;
}


.add_cart {
    background-color: black;
    color: white;
    padding: 10px;
    border-bottom-left-radius: 8px;
    width: 50%;
}

.remove_cart {
    background-color: red;
    color: white;
    padding: 10px;
    border-bottom-right-radius: 8px;
    width: 50%;
}

.container {
    display: inline-flex;
    width: 100%;
}

#img {
    float: left;
}

#icon {
    float: right;
    color: white;
    margin-right: 10px;
}